/* Import Tailwind */
@import "tailwindcss";

/* Hamburger hover effect - move top & bottom lines to right */
.hamburger-icon:hover > .bars-container > .bars-line {
  left: 20px;
}

/* Hero Section Background */
.hero-container1 {
  background: url(./assets/img/sld2-bg.jpeg) no-repeat center;
  background-size: cover;
  animation: cloudMoving 6s linear forwards;
}
.hero-container2 {
  background: url(./assets/img/sld2-bg-mirror.png) no-repeat center;
  background-size: cover;       /* image stretch نہیں ہوگی */
  background-position: center 25%;
}


/* Keyframes for Hero Background Zoom-out */
@keyframes cloudMoving {
  from {
    background-size: 120%;
  }
  to {
    background-size: 100%;
  }
}
